<mat-card class="title-container">
  <mat-card-content class="card-title">Clasificación Pilotos 2023</mat-card-content>
</mat-card>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Posición</th>
        <th>Piloto</th>
        <th>Nombre</th>
        <th>Nacionalidad</th>
        <th>Escudería</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clasificacion of clasificaciones; let i = index">
        <td>{{ clasificacion.posicion }}°</td>
        <td><img class="mini-image" [src]="clasificacion.pilotoImageUrl" alt=""></td>
        <td>{{clasificacion.nombre}}</td>
        <td><img class="image-pais" [src]="clasificacion.nacionalidadImageUrl" alt=""></td>
        <td>{{clasificacion.escuderia}}</td>
        <td>{{clasificacion.puntos}}</td>
      </tr>
    </tbody>
  </table>
</div>