<body>
    <div class="background"></div>
    <section class="home">
        <div class="content">
            <a href="#" class="logo"> <i class="fa-solid fa-paper-plane"></i>Fórmula 1</a>
            <h2> Bienvenido!</h2>
            <h3> Página Informativa de la Fórmula 1 </h3>
           <pre> Todo lo que necesitas saber sobre la Fórmula 1 lo encontrás acá </pre>
           <div class="icon">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-github"></i>
           </div>    
        </div>
        <div class="login">
            <h2> Inicia Sesión </h2>
            <div class="input">
                <input type="text" class="input1" placeholder="Correo Electrónico" required>
               <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input">
                <input type="password" class="input1" placeholder="Contraseña" required>
                <i class="fa-solid fa-lock"></i> 
            </div>
            <div class="check">
                <label> <input type="checkbox"> Recuérdame </label>
                <a href="https://tickets.formula1.com/es/login#"  target="_blank" rel="noopener noreferrer"> ¿Olvidaste tu contraseña?</a>
            </div>
            <div class="button">
                <button class="btn"> Iniciar sesión </button>
            </div>
            <div class="sign-up">
                <p> ¿No tienes una cuenta? </p>
                <a href="https://tickets.formula1.com/es/login"  target="_blank" rel="noopener noreferrer"> Regístrate </a>
            </div>
        </div>
    </section>
</body>